<launch>
  <!-- Ridgeback configuration to view. See ridgeback_description for details. -->
  <arg name="config" default="base"/>

  <include file="$(find ridgeback_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
  </include>

  <param name="use_gui" value="true"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ridgeback_viz)/rviz/model.rviz" />
</launch>
