<launch>
  <rosparam command="load" file="$(find ridgeback_control)/config/control.yaml" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="ridgeback_joint_publisher ridgeback_velocity_controller" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" />

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find ridgeback_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="ridgeback_velocity_controller/cmd_vel"/>
  </node>

  <group if="$(optenv RIDGEBACK_CONTROL_EXTRAS 0)" >
    <rosparam command="load" file="$(env RIDGEBACK_CONTROL_EXTRAS_PATH)" subst_value="true" />
  </group>
</launch>
